# Log files and directories
**/*logs
*.log

# Terraform artifacts
*.tfplan
*.tfstate
.terraform.lock.hcl
.terraform.tfstate.lock.info
.terraform/
terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# Script-generated copies of files in subdirectories of aws/gcp/azure
#*/**/terraform.tfvars
#*/**/variables.tf
#*/**/variables.tfvars

*/*/**/terraform.tfvars
*/*/**/variables.tf
*/*/**/variables.tfvars

# User-generated working files
*.not-in-use
nohup.out
output.json
state.out
testing/
*es-license.json

# OS files
.DS_Store
.gitignore
aws/create-eks/out.plan
scripts/otel/es-class.model
aws/eck/es-operator/eck-yamls/operator.yaml
aws/eck/es-operator/eck-yamls/operator.yaml
azure/eck/es-operator/modified_operator.yaml
