.DS_Store
*.tfstate
*.tfplan
terraform.tfstate
*.terraform.tfstate.backup
*es-license.json
*.es-license.json
create-eck/variables.tf
create-eck/terraform.tfvars
create-eck/.terraform.lock.hcl
create-eck/.terraform/
create-eck/log.log
create-eck/nohup.out
create-eck/terraform.tfstate.backup
create-eks/.terraform.lock.hcl
create-eks/.terraform.tfstate.lock.info
create-eks/.terraform/
create-eks/nohup.out
create-eks/stash/
create-eks/terraform.tfstate.backup
nohup.out
logs/1Click.log
create-eks/vpc.not-in-use
create-eks/data-sources.not-in-use
create-eks/eks-cluster.not-in-use
create-eks/worker-nodes.not-in-use
AWS/create-eck/terraform.tfvars
AWS/create-eck/variables.tf
AWS/create-eck/.terraform.lock.hcl
AWS/create-eck/.terraform/
AWS/create-eck/terraform.tfstate.backup
AWS/create-eks/.terraform.lock.hcl
AWS/create-eks/.terraform.tfstate.lock.info
AWS/create-eks/.terraform/
AWS/create-eks/terraform.tfstate.backup
.terraform/
aws/create-eck/.terraform.lock.hcl
aws/create-eck/create-operator/.terraform.lock.hcl
aws/create-eck/create-operator/terraform.tfstate.backup
aws/create-eck/create-operator/terraform.tfvars
aws/create-eck/create-operator/variables.tf
aws/create-eck/terraform.tfstate.backup
aws/create-eck/terraform.tfvars
aws/create-eck/testing/
aws/create-eck/variables.tf
aws/create-eks/.terraform.lock.hcl
aws/create-eks/terraform.tfstate.backup
aws/create-eks/data-sources-byovpc.not-in-use
aws/create-eks/eks-cluster-byovpc.not-in-use
aws/create-eks/tagsubnets-byovpc.not-in-use
aws/create-eks/worker-nodes-byovpc.not-in-use
azure/.terraform.lock.hcl
azure/create-aks/terraform.tfvars
azure/create-aks/variables.tf
azure/create-aks/.terraform.lock.hcl
azure/create-aks/terraform.tfstate.backup
azure/create-eck/.terraform.lock.hcl
azure/create-eck/create-operator/.terraform.lock.hcl
azure/create-eck/create-operator/terraform.tfstate.backup
azure/create-eck/create-operator/terraform.tfvars
azure/create-eck/create-operator/variables.tf
azure/create-eck/namegen/.terraform.lock.hcl
azure/create-eck/namegen/terraform.tfstate.backup
azure/create-eck/terraform.tfstate.backup
azure/create-eck/terraform.tfvars
azure/create-eck/variables.tf
gcp/.terraform.lock.hcl
gcp/terraform.tfstate.backup
aws/create-eks/terraform.tfvars
aws/create-eks/variables.tf
aws/logs/1Click.log
azure/logs/1Click.log
gcp/create-eck/.terraform.lock.hcl
gcp/create-eck/create-operator/.terraform.lock.hcl
gcp/create-eck/create-operator/terraform.tfstate.backup
gcp/create-eck/create-operator/terraform.tfvars
gcp/create-eck/create-operator/variables.tf
gcp/create-eck/terraform.tfstate.backup
gcp/create-eck/terraform.tfvars
gcp/create-eck/variables.tf
gcp/create-gke/.terraform.lock.hcl
gcp/create-gke/terraform.tfstate.backup
gcp/create-gke/terraform.tfvars
gcp/create-gke/variables.tf
azure/create-aks/.terraform.tfstate.lock.info
azure/create-aks/addons/.terraform.lock.hcl
azure/create-aks/addons/terraform.tfstate.backup
aws/create-eks/addons/.terraform.lock.hcl
aws/create-eks/addons/terraform.tfstate.backup
azure/test/
gcp/create-gke/.terraform.tfstate.lock.info
gcp/create-gke/addons/.terraform.lock.hcl
gcp/create-gke/addons/terraform.tfstate.backup
gcp/create-gke/output.json
gcp/create-gke/state.out
gcp/logs/1Click.log
aws/logs/*
gcp/create-gke/addons/ksm/.terraform.lock.hcl
gcp/create-gke/addons/ksm/terraform.tfstate.backup
gcp/create-gke/addons/ksm/tflogs/
gcp/create-gke/addons/openebs/.terraform.lock.hcl
gcp/create-gke/addons/openebs/terraform.tfstate.backup
gcp/create-gke/addons/openebs/tflogs/
gcp/create-gke/addons/tflogs/
gcp/create-gke/tflogs/
logs/
gcp/create-eck/create-operator/tflogs/
gcp/create-eck/create-operator/variables.tfvars
gcp/create-eck/license/.terraform.lock.hcl
gcp/create-eck/tflogs/
