.DS_Store
*.tfstate
*.tfplan
terraform.tfstate
*.terraform.tfstate.backup
*es-license.json
*.es-license.json
create-eck/variables.tf
create-eck/terraform.tfvars
create-eck/.terraform.lock.hcl
create-eck/.terraform/
create-eck/log.log
create-eck/nohup.out
create-eck/terraform.tfstate.backup
create-eks/.terraform.lock.hcl
create-eks/.terraform.tfstate.lock.info
create-eks/.terraform/
create-eks/nohup.out
create-eks/stash/
create-eks/terraform.tfstate.backup
nohup.out
logs/1Click.log
create-eks/vpc.not-in-use
create-eks/data-sources.not-in-use
create-eks/eks-cluster.not-in-use
create-eks/worker-nodes.not-in-use
AWS/create-eck/terraform.tfvars
AWS/create-eck/variables.tf
AWS/create-eck/.terraform.lock.hcl
AWS/create-eck/.terraform/
AWS/create-eck/terraform.tfstate.backup
AWS/create-eks/.terraform.lock.hcl
AWS/create-eks/.terraform.tfstate.lock.info
AWS/create-eks/.terraform/
AWS/create-eks/terraform.tfstate.backup
.terraform/
